* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

#landingSection {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landingSection > #container {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 90%;
    background-color: aqua;
   
}

#landingSection > #container > #titleSection {
    position: relative;
    flex: 3;
}

#landingSection > #container > #titleSection > .wrapper {
    position:absolute;
    bottom: 5rem;
    left: 5rem;
    display: flex;
    align-items: center;
}

#titleSection > .wrapper > .degree {
    font-size: 3.5rem;
    font-weight: 500;
    margin-right: 0.5rem;
}

#titleSection > .wrapper > .cityDate > .cityName {
    font-size: 2rem;
    font-weight: 500;
    
}

#landingSection > #container > #infoSection {
    flex: 2
}